{% extends "base.html" %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Tourist - Travel Agency HTML Template</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicon -->
    <link href="img/favicon.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600&family=Nunito:wght@600;700;800&display=swap"
        rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="lib/animate/animate.min.css" rel="stylesheet">
    <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css" rel="stylesheet" />

    <!-- Customized Bootstrap Stylesheet -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="css/style.css" rel="stylesheet">
</head>

<body>
    {% block content %}

        <div class="container-fluid bg-primary py-5 mb-5 hero-header">
            <div class="container py-5">
                <div class="row justify-content-center py-5">
                    <div class="col-lg-10 pt-lg-5 mt-lg-5 text-center">
                        <h1 class="display-3 text-white animated slideInDown">About Us</h1>
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb justify-content-center">
                                <li class="breadcrumb-item"><a href="#">Home</a></li>
                                <li class="breadcrumb-item"><a href="#">Pages</a></li>
                                <li class="breadcrumb-item text-white active" aria-current="page">About</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Navbar & Hero End -->


    <!-- About Start -->
    <div class="container-xxl py-5">
        <div class="container">
            <div class="row g-5">
                <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s" style="min-height: 400px;">
                    <div class="position-relative h-100">
                        <img class="img-fluid position-absolute w-100 h-100" src="img/about.jpg" alt=""
                            style="object-fit: cover;">
                    </div>
                </div>
                <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.3s">
                    <h6 class="sub section-title bg-white text-start text-oranged pe-3">शिवसाम्राज्य उद्योग समूह</h6>
                    <h1 class="sub mb-4">सामाजिक विकास, आर्थिक स्थैर्य, आणि व्यवसायिक यशासाठी महाराष्ट्रातील लाखो
                        लोकांचा
                        विश्वासार्ह भागीदार..</h1>
                    <p class="mb-4">महाराष्ट्रभर सामाजिक आणि व्यवसायिक प्रगतीसाठी कटिबद्ध आहे. "एकी, लेकी, प्रगती" या
                        ब्रीदवाक्यासह, आम्ही अन्न, वस्त्र, आणि निवारा या मुलभूत गरजा भागविण्याकरिता लोकांपर्यंत उत्कृष्ट
                        सुविधा पोहोचवत आहोत. सामान्य माणसातील असामान्य कर्तृत्वाला वाव देण्याचे ध्येय बाळगून, आम्ही
                        विविध उपक्रम, प्रकल्प, आणि व्यवसायांतर्गत सवलतीच्या सेवा उपलब्ध करून देतो. महिलांना सक्षमीकरण
                        करण्यासाठी आणि त्यांना स्वावलंबी बनवण्यासाठी शिवसाम्राज्य उद्योगामिनी, तर दर्जेदार आणि सवलतीच्या
                        दरात खरेदीसाठी युनिक बजेट मार्ट यांसारख्या प्रकल्पांची यशस्वी अंमलबजावणी केली आहे. आमचा फोकस
                        केवळ सेवांवर नाही, तर समाजातील प्रत्येक व्यक्तीला आणि विशेषतः महिलांना आर्थिक स्थैर्य, रोजगार,
                        आणि बचतीचे साधन उपलब्ध करून देण्यावर आहे.

                    </p>

                    <div class="sub row gy-2 gx-4 mb-4">
                        <div class="col-sm-6">
                            <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>सर्वोत्कृष्ट स्थलांतर
                                संसाधने</p>
                        </div>
                        <div class="col-sm-6">
                            <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>रिटर्न व्हिसा उपलब्ध</p>
                        </div>
                        <div class="col-sm-6">
                            <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>विशेष सुरक्षा व सहाय्य
                            </p>
                        </div>
                        <div class="col-sm-6">
                            <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>जगभरात विस्तृत सेवा</p>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
    <!-- About End -->


    <!-- Team Start -->
    <div class="container-xxl py-5">
        <div class="container">
            <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
                <h6 class="sub section-title bg-white text-center px-3">आमच्याबद्दल</h6>
                <h1 class="sub mb-5">शिवसाम्राज्य उद्योग समुह</h1>
                <p>शिवसाम्राज्य उद्योग समुह हे एक व्यावसायिक संघटन आहे, जे सामान्य माणसातील असामान्य
                    कर्तुत्वाला वाव
                    देण्यासाठी काम करत आहे. <br><br> विविध व्यवसायांना एकत्र जोडून, या उद्योग समुहाने अनेक नव्या
                    प्रकल्पांची
                    अंमलबजावणी केली आहे. महिलांसाठी सक्षमीकरण कार्यशाळा, नवउद्योजकांना <br><br> मार्गदर्शन, आणि सामाजिक
                    आर्थिक
                    परिवर्तनासाठी कार्य करणारे विविध उपक्रम हे शिवसाम्राज्य उद्योग समुहाचे मुख्य उद्दीष्ट आहेत.</p>
            </div>
            <div class="row g-4">
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="team-item">
                        <div class="overflow-hidden">
                            <img class="img-fluid" src="img/team-1.jpg" alt="">
                        </div>

                        <div class="text-center p-4">
                            <h5 class="sub mb-0">आमचं उद्दीष्ट</h5>
                            <p>समाजात व्यवसायिकता वाढवून सामाजिक आर्थिक परिवर्तन निर्माण करणं, हे शिवसाम्राज्य
                                उद्योग समुहाचं मुख्य उद्दीष्ट आहे. विविध उपक्रमांद्वारे समाजाच्या प्रगतीसाठी काम करत,
                                आम्ही अनेक व्यवसाय स्थापन करून नोकरी, रोजगार आणि आर्थिक स्थिरता निर्माण करण्यास समर्थन
                                देतो.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                    <div class="team-item">
                        <div class="overflow-hidden">
                            <img class="img-fluid" src="img/team-2.jpg" alt="">
                        </div>

                        <div class="text-center p-4">
                            <h5 class="sub mb-0">आमच्या सेवा</h5>
                            <p>महिला सक्षमीकरण कार्यशाळा, नवउद्योजकांच्या मार्गदर्शन, आरोग्य शिबिरे, आणि शेती पूरक
                                व्यवसाय मार्गदर्शन यांच्या माध्यमातून आम्ही समाजाच्या विकासासाठी साकारात्मक कार्य करत
                                आहोत. शिवसाम्राज्य उद्योग समुह नवनवीन व्यवसाय निर्मिती आणि किमान किंमतीत दर्जेदार
                                उत्पादनांची निर्मिती करण्यासाठी प्रकल्प राबवत आहे.

                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                    <div class="team-item">
                        <div class="overflow-hidden">
                            <img class="img-fluid" src="img/team-3.jpg" alt="">
                        </div>

                        <div class="text-center p-4">
                            <h5 class=" sub mb-0">आमचे मूल्य</h5>
                            <p>आम्ही समाजातील आर्थिक आणि सामाजिक विकासासाठी कटीबद्ध आहोत. आम्ही प्रत्येक उपक्रमात
                                महिलांच्या सक्षमीकरणास प्राथमिकता देतो. त्याचबरोबर, प्रत्येक नवउद्योजकाला मार्गदर्शन
                                करून, त्याच्या व्यवसायाच्या यशासाठी कार्यरत असतो.

                            </p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- Team End -->


   

    <!-- Back to Top -->
    <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>


    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="lib/wow/wow.min.js"></script>
    <script src="lib/easing/easing.min.js"></script>
    <script src="lib/waypoints/waypoints.min.js"></script>
    <script src="lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="lib/tempusdominus/js/moment.min.js"></script>
    <script src="lib/tempusdominus/js/moment-timezone.min.js"></script>
    <script src="lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js"></script>

    <!-- Template Javascript -->
    <script src="js/main.js"></script>

    {% endblock %}
</body>

</html>