{% extends "base.html" %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Shivsamragya Website</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicon -->
    <link href="img/favicon.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600&family=Nunito:wght@600;700;800&display=swap"
        rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="lib/animate/animate.min.css" rel="stylesheet">
    <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css" rel="stylesheet" />

    <!-- Customized Bootstrap Stylesheet -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="css/style.css" rel="stylesheet">
</head>

<body>

    {% block content %}



    <!-- Bachatgat Start -->
    <div class="containerr-xxl pt-5 bg-white">
        <div class="container pt-4">
            <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
        
                <h1 class="sub mb-5 mt-5">Bachat Gat Form / बचत गट फॉर्म</h1>
            </div>
        <form id="cropForm">
            <div class="mb-3">
                <label class="form-label"><b>Name of the person submitting the form / फॉर्म सबमिट करणाऱ्या व्यक्तीचे नाव</b></label>
                <input type="text" class="form-control rounded-pill" id="Name" required>
            </div>

            <div class="row">
                <div class="col-md-4 mb-3">
                    <label class="form-label"><b>Mobile Number / मोबाईल नंबर</b></label>
                    <input type="number" class="form-control rounded-pill" id="mob" required>
                </div>
                <div class="col-md-4 mb-3">
                    <label class="form-label"><b>Email / ईमेल</b> </label>
                    <input type="text" class="form-control rounded-pill" id="mail" required>
                </div>
                <div class="col-md-4 mb-3">
                    <label class="form-label"><b>Name of the Bachat Gat / बचत गटाचे नाव</b></label>
                    <input type="text" class="form-control rounded-pill" id="bachatnama" required>
                </div>
            </div>

            <div class="mb-3">
                <label class="form-label"><b>Address of the Gat / गटाचा पत्ता</b></label>
                <textarea class="form-control rounded-pill" id="address" rows="2" required></textarea>
            </div>

            <div class="row">
                <div class="col-md-4 mb-3">
                    <label class="form-label"><b>Taluka / तालुका</b></label>
                    <input type="text" class="form-control rounded-pill" id="tal" required>
                </div>
                <div class="col-md-4 mb-3">
                    <label class="form-label"><b>District / जिल्हा</b> </label>
                    <input type="text" class="form-control rounded-pill" id="dis" required>
                </div>
                <div class="col-md-4 mb-3">
                    <label class="form-label"><b>State / राज्य</b></label>
                    <input type="text" class="form-control rounded-pill" id="statee" required>
                </div>
            </div>
            
            <div class="row">
                <div class="col-md-4 mb-3">
                    <label class="form-label"><b>Total Members in Bachat Gat / बचत गटातील एकूण सदस्य</b></label>
                    <input type="text" class="form-control rounded-pill" id="member" required>
                </div>
                <div class="col-md-8 mb-3">
                    <label class="form-label"><b>Name & Mobile Nos. of the Office Bearers (President, Secretary, Treasurer) / पदाधिकाऱ्यांची नावे व मोबाईल नंबर (अध्यक्ष, सचिव, खजिनदार)</b></label>
                    <input type="text" class="form-control rounded-pill" id="nm">
                </div>
            </div>

            <div class="row">
                <div class="col-md-6 mb-3">
                    <label class="form-label"><b>Date of formation of the Bachat Gat / बचत गट स्थापनेची तारीख</b></label>
                    <input type="date" class="form-control rounded-pill" id="det" required>
                </div>
                <div class="col-md-6 mb-3">
                    <label class="form-label"><b>Is the group registered? / गट नोंदणीकृत आहे का?</b></label><br>
                    <input class="form-check-input" type="radio" name="political_party" id="yes" value="yes" required><b>Yes / होय </b>
                    <input class="form-check-input" type="radio" name="political_party" id="yes" value="yes" required><b>No / नाही </b>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6 mb-3">
                    <label class="form-label"><b>If yes, with whom? / असल्यास कोणासोबत? E.g. UMED, MAVIM, NABARD, Municipal Corporation, Panchayat Samiti, etc. / उदा. उमेद, माविम, नाबार्ड, नगर परिषद, पंचायत समिती, इ.</b></label>
                    <input type="text" class="form-control rounded-pill" id="det" required>
                </div>
                <div class="col-md-6 mb-3">
                    <label class="form-label"><b>Has the Group opened a Bank Account? / गटाने बँक खाते उघडले आहे का?</b></label><br>
                    <input class="form-check-input" type="radio" name="political_party" id="yes" value="yes" required><b>Yes / होय </b>
                    <input class="form-check-input" type="radio" name="political_party" id="yes" value="yes" required><b>No / नाही </b>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6 mb-3">
                    <label class="form-label"><b>Is the group affiliated with a Political Party? / गट राजकीय पक्षाशी संलग्न आहे का?</b></label><br>
                    <input class="form-check-input" type="radio" name="political_party" id="yes" value="yes" required><b>Yes / होय </b>
                    <input class="form-check-input" type="radio" name="political_party" id="yes" value="yes" required><b>No / नाही </b>
                </div>

            </div>


            <div class="d-flex justify-content-center">
                <button type="submit" class="btn btn-light bg-danger me-2 rounded-pill">Submit</button>
                <button type="reset" class="btn btn-light bg-success rounded-pill">Reset</button>
            </div>
        </form>
    </div>

    <!-- Bachatgat End -->




    <!-- Back to Top -->
    <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>


    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="lib/wow/wow.min.js"></script>
    <script src="lib/easing/easing.min.js"></script>
    <script src="lib/waypoints/waypoints.min.js"></script>
    <script src="lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="lib/tempusdominus/js/moment.min.js"></script>
    <script src="lib/tempusdominus/js/moment-timezone.min.js"></script>
    <script src="lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js"></script>

    <!-- Template Javascript -->
    <script src="js/main.js"></script>

    {% endblock %}
</body>

</html>